{% extends 'layout/base.html' %}

{% block title %}
  ABOUT US
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>About Us</h2>
    <p>Welcome to our bookstore! We are passionate about providing a wide range of books to our customers. Our mission is to promote literacy and a love for reading in our community.</p>
    <p>Founded in [year], we have been serving book lovers for [number of years] and continue to expand our collection to cater to diverse interests and preferences.</p>
    <p>At our bookstore, you'll find a variety of genres including fiction, non-fiction, mystery, romance, science fiction, and more. Whether you're looking for a classic novel or the latest bestseller, we've got you covered.</p>
    <p>Thank you for supporting our bookstore and happy reading!</p>
  </div>
{% endblock %}
