{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>All Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <img src="{% static 'books/images/' %}{{ book.image }}" width="200" height="200" alt="">
                </td>
                <td>
                    <a class="btn btn-info" href="{% url 'books.getbookbyid' book.id %}">Show</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
